---
layout: default
---

<section>
  <h1>Work</h1>
  <p>Here you can find my work</p>
</section>

<section>
  {% for work in site.categories.portofolio %}
  <div class="media t-hackcss-media">
    <hr/>
    <div class="media-body">
        <div class="media-heading">
          <p style="margin-top:0px;margin-bottom:1rem;"> {{ work.year }} &raquo; {{work.title}}</p>
          {% if work.spotify-url %}
            <iframe src="https://open.spotify.com/embed/{{ work.spotify-url }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          {% endif %}
        </div>
        <div class="media-content">
          <p style="margin-top:0px;margin-bottom:1rem;">
            {{ work.content }}
          </p>
        </div>
      </div>
  </div>
  {% endfor %}
</section>
