---
layout: default
---

<section>
  <h1>Work</h1>
  <p>Here you can find my work</p>
</section>

<section>
  {% for work in site.posts %}
  <div class="media t-hackcss-media">
    <p style="margin:0rem">------------------------------------------------------------------------</p>
      <div class="media-body">
        
          <span>
            <p>{{ work.year }} &raquo; {{work.title}}</p>
          </span>
            {% if work.spotify-url %}
              <iframe src="https://open.spotify.com/embed/{{ work.spotify-url }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            {% endif %}
          <p>
            {{ work.content }}
          </p>
        
      </div>
  </div>
  {% endfor %}
</section>
